@font-face {
    font-family: 'Speed';
    src: url('speed.ttf') format('truetype');
}

@font-face {
    font-family: 'ComicSauce';
    src: url('/secretsauce/COMIC.TTF') format('truetype');
}

body {
    background-color: #1C1A1B;
    margin: 0;
    font-family: 'ComicSauce', Arial, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    color: #07F468;
    font-family: 'Speed', Arial, sans-serif;
    font-size: 50vh;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.bottom-right-icon img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

.bottom-right-icon:hover img {
    transform: scale(1.2);
}